@import "../variables";

.extra {
  margin-left: 0;
  margin-right: 0;
}

.extra__wrapper {
  margin: 0 auto;
}

.extra__title {
  position: relative;
  margin-top: 0;
  padding: 0 calc((100vw - 340px) / 2);
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: 400;

  &::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 50%;
    background-color: @green;
    top: 15px;
    right: 0;
    z-index: -1;
  }

  span {
    padding-right: 23px;
    padding-left: 20px;
    background-color: @white;
    z-index: 100;
  }
}

.extra__list {
  margin-bottom: 40px;
}

.extra__item-title {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  line-height: 1;
  text-transform: uppercase;
  color: @black;
  margin-left: 2px;
}

.extra__item-volume {
  display: inline-block;
  width: 120px;
  font-family: @arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  text-align: left;
  color: @darkgrey;
}

.extra__item-product-wrapper {
  width: 282px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.extra__item-price {
  display: inline-block;
  font-family: @arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: normal;
  text-align: right;
  color: @darkgrey;
}

.extra__item {
  width: 280px;
  padding-bottom: 18px;
  padding-top: 12px;
  border-top: solid 1px @grey-border;
  border-bottom: solid 1px @grey-border;
  margin: 0 auto -1px;
}

.extra__special {
  position: relative;
  width: 280px;
  background: url("../img/gift-photo-mobile@1x.jpg") no-repeat;
  background-color: @green-bg;
  margin: 0 auto;
  margin-bottom: 35px;
  padding-bottom: 42px;
  background-size: cover;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
    background-size: 280px 289px;
  }

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    top: 65px;
    left: 113px;
    width: 55px;
    height: 60px;
  }
}

.extra__special-item {
  padding-top: 171px;
}

.extra__special-text {
  font-family: @arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  color: @white;
  margin-bottom: 0;
}

@media (min-width: @tablet-width) {
  .extra {
    margin-left: 0;
  }

  .extra__title {
    margin-bottom: 85px;
    font-size: 36px;
    font-weight: 400;
    padding: 0 calc((100vw - 727px) / 2);

    span {
      z-index: 100;
      padding-left: 38px;
      padding-right: 40px;
    }

    &::before {
      width: 100%;
      right: 0;
      top: 18px;
    }
  }


  .extra__list {
    margin-bottom: 69px;
  }

  .extra__item {
    width: 708px;
    box-sizing: border-box;
    padding-left: 38px;
    padding-right: 38px;
    padding-bottom: 27px;
    padding-top: 25px;
    border: solid 1px @grey;
    margin-left: -1px;
    margin-bottom: -1px;
  }

  .extra__item-wrapper {
    width: 633px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 21px;
    //align-items: center;
  }

  .extra__item-product-wrapper {
    margin-top: 5px;
    width: 228px;
  }

  .extra__item-title {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 0 2px;
    padding-bottom: 0;
    line-height: 1;
    text-transform: uppercase;
    color: @black;
  }

  .extra__item-volume {
    display: inline-block;
    width: 134px;
    font-family: @arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    text-align: right;
    color: @darkgrey;
    margin: 0;
  }

  .extra__item-price {
    display: inline-block;
    width: 44px;
    white-space: nowrap;
    font-family: @arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: right;
    color: @darkgrey;
    margin: 0;
  }

  .extra__special {
    position: relative;
    width: 708px;
    background: url("../img/gift-photo-tablet@1x.jpg") no-repeat;
    margin-bottom: 76px;
    padding-bottom: 67px;
    background-color: @green-bg;
    background-size: cover;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
      background-size: 708px 200px;
    }

    &::before {
      top: 66px;
      left: 91px;
    }
  }

  .extra__special-item {
    position: relative;
    padding-top: 57px;
  }

  .extra__special-text {
    width: 165px;
    text-align: left;
    margin-left: 423px;
    font-family: @arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    color: @white;
  }
}

@media (min-width: @desktop-width) {
  .extra {
    margin-bottom: 86px;
  }

  .extra__title {
    padding: 0 calc((100vw - 1320px) / 2);

    span {
      padding-left: 40px;
    }
  }

  .extra__list {
    margin-bottom: 0;
  }

  .extra__item {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding-left: 2px;
    padding-right: 0;
    width: 895px;
    padding-top: 15px;
    padding-bottom: 16px;
    border: none;
    border-top: solid 1px @grey-border;
    border-bottom: solid 1px @grey-border;
    margin-left: -1px;
    margin-bottom: -1px;
  }

  .extra__item-wrapper {
    margin-bottom: 0;
    width: 613px;
  }

  .extra__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .extra__item-product-wrapper {
    width: 288px;
    margin-top: 8px;
    align-items: center;
  }

  .extra__item-title {
    display: inline-block;
    align-self: center;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    padding-bottom: 0;
    line-height: 1;
    text-transform: uppercase;
    color: @black;
  }

  .extra__item-volume {
    padding-top: 0;
    display: inline-block;
    font-family: @arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    text-align: left;
    color: @darkgrey;
  }

  .extra__item-price {
    padding-left: 0;
    padding-top: 0;
    display: inline-block;
    font-family: @arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: @darkgrey;
    margin-left: 0;
  }

  .extra__special {
    position: relative;
    width: 245px;
    background: url("../img/gift-photo-desktop@1x.jpg") no-repeat;
    margin: 0;
    padding-top: 187px;
    padding-bottom: 42px;
    background-color: @green-bg;
    background-size: cover;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
      background-size: 245px 289px;
    }

    &::before {
      top: 65px;
      left: 96px;
    }
  }

  .extra__special-item {
    padding-top: 0;
    align-content: center;
  }

  .extra__special-text {
    width: auto;
    margin: 0 auto;
    text-align: center;
  }
}
