@import "../variables";

.page-footer {
	width: 100%;
	background-color: @bg-lightgrey;
	margin-top: 0;

}

.page-footer__wrapper {
	background-color: @bg-lightgrey;
	margin: 0 auto;
	width: 280px;
}

.page-footer__logo-image {
	display: block;
	margin-left: auto;
	margin-right: auto;

	padding-bottom: 31px;
	padding-top: 39px;
}

.page-footer__social {
	margin-left: auto;
	margin-right: auto;
	border-top: 1px solid @bg-grey;
	border-bottom: 1px solid @bg-grey;
	padding-top: 19px;
	padding-bottom: 17px;

}

.social__list {
	margin: 0 auto;
	margin-left: 0px;
	list-style: none;
	display: flex;
	align-items: center;

	padding: 0;
	justify-content: center;
}

.social__link svg,
.page-footer__copyright-link svg {
	fill: #666;
}

.social__link:hover svg,
.page-footer__copyright-link:hover svg {
	fill: #68b738;
}

.social__link:active svg,
.page-footer__copyright:active {
	opacity: 0.3;
}



.social__item:nth-child(1) {
	margin-right: 37px;
}

.social__item:nth-child(2) {
	margin-right: 40px;
}

.page-footer__copyright {

	padding-top: 14px;
	padding-bottom: 11px;
}

.page-footer__copyright-text {
	color: black;
	font-family: Arial;
	font-size: 16px;
	font-weight: 400;
	line-height: 1;
	color: @bg-greyish-brown;

}



.page-footer__copyright-link {
	text-decoration: none;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;

}

@media (min-width: @tablet-width) {
	.page-footer {
		width: 100%;
		background-color: @bg-lightgrey;
		padding-top: 50px;
		padding-bottom: 32px;
	}



	.page-footer__social {

		margin-left: auto;
		margin-right: auto;
		border-top: none;
		border-bottom: none;
		padding-top: 0px;
		padding-bottom: 0px;
	}

	.social__item:nth-child(1) {
		margin-right: 27px;
	}

	.social__item:nth-child(2) {

		margin-right: 30px;
	}

	.social__link--vk svg {
		width: 30px;
		height: 16px;

	}

	.social__link--inst svg {
		width: 23px;
		height: 23px;
	}

	.social__link--fb svg {
		width: 14px;
		height: 28px;
	}

	.page-footer__wrapper {
		box-sizing: border-box;
		width: 768px;
		display: flex;
		padding-bottom: 0;
		justify-content: space-between;

		align-items: center;

	}

	.page-footer__logo {
		/*height: 24px;*/
	}

	.page-footer__logo-image {
		display: block;
		margin-right: 21px;
		margin-top: 0;
		padding-bottom: 0px;
		padding-top: 0px;
	}

	.page-footer__copyright {
		margin-left: 0px;
		margin-right: 0px;
		padding-top: 0px;
		padding-bottom: 0px;
	}

	.page-footer__copyright-link {

		text-decoration: none;

		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 0px;
		margin-left: 0px;
		margin-right: 0px;
		padding-top: 0px;
		padding-bottom: 0px;
	}

	.page-footer__copyright-text {
		color: black;
		font-family: Arial;
		font-size: 16px;
		font-weight: 400;
		line-height: 1;
		padding-right: 22px;


	}


}

@media (min-width: @desktop-width) {

	.page-footer {
		padding-top: 50px;
		padding-bottom: 52px;
	}

	.page-footer__wrapper {

		width: 1300px;


	}

	.page-footer__copyright-logo {
		width: 27px;
		height: 34px;
	}
}
