@import "../variables";

.page-footer {
  width: 100%;
  background-color: @grey;
  margin-top: 0;
}

.page-footer__wrapper {
  background-color: @grey;
  margin: 0 auto;
  width: 280px;
}

.page-footer__logo-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 31px;
  padding-top: 39px;
}

.page-footer__logo {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__copyright-link svg {
  fill: #666666;
}

.page-footer__copyright-link:hover svg {
  fill: @green;
}

.page-footer__copyright:active {
  opacity: 0.3;
}

.page-footer__copyright {
  padding-top: 14px;
  padding-bottom: 11px;
}

.page-footer__copyright-text {
  font-family: @arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: @darkgrey;
}

.page-footer__copyright-link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

@media (min-width: @tablet-width) {
  .page-footer {
    width: 100%;
    background-color: @grey;
    padding-top: 49px;
    padding-bottom: 32px;
  }

  .page-footer__wrapper {
    box-sizing: border-box;
    width: 768px;
    display: flex;
    padding-bottom: 0;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__logo-image {
    margin-right: 19px;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
  }

  .page-footer__copyright {
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .page-footer__copyright-link {
    text-decoration: none;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .page-footer__copyright-text {
    color: @darkgrey;
    font-family: @arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    padding-right: 22px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    padding-top: 50px;
    padding-bottom: 52px;
  }

  .page-footer__wrapper {
    width: 1300px;
  }

  .page-footer__logo-image {
    display: block;
    margin-right: 21px;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
  }

  .page-footer__copyright-logo {
    width: 27px;
    height: 34px;
  }
}
